@media (min-width: 200px) {
    .card-columns {
        column-count: 1;
    }
    .embiggen {
      font-size: 400%;
      color: white;
      position:relative;
      top: -50px;
      text-shadow: 0 0 40px #E9967A;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
    .embiggen {
      font-size: 700%;
      color: white;
      position:relative;
      top: -80px;
      text-shadow: 0 0 40px #E9967A;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
    .embiggen {
      font-size: 800%;
      color: white;
      position:relative;
      top: -80px;
      text-shadow: 0 0 40px #E9967A;
    }
}

@media (min-width: 992px) {
    .card-columns { 
        column-count: 2;
    }
    .embiggen {
      font-size: 1000%;
      color: white;
      position:relative;
      top: -90px;
      text-shadow: 0 0 40px #E9967A;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
    .embiggen {
      font-size: 1200%;
      color: white;
      position:relative;
      top: -100px;
      text-shadow: 0 0 40px #E9967A;
    }
}

.bg-darkGray {
  background-color: #C0C0C0 !important;
}

.bg-dustyPink {
  background-color: #f7e6e3 !important;
}

.border-dustyPink {
  border-width: 5px;
  border-color: #f7e6e3 !important;
}

.img-thumbnail-dustyPink {
  padding: 0.25rem;
  background-color: #fff;
  border: 5px solid #f7e6e3;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.border-top-5-dustyPink {
  border-top: 5px solid #f7e6e3 !important;
}

.border-bottom-5-grey {
  border-bottom: 5px solid #e5e5e5 !important;
}

.text-align-right {
	text-align: right;
}

.width150 {
  width: 150px;
}

.topic1 {
  font-size: 20px;
  font-weight: bold;
  color: #fd6766;
}