@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}

.starBg {
  background:
  linear-gradient(324deg, #232927 4%,   transparent 4%) -70px 43px, /*background color*/
  linear-gradient( 36deg, #232927 4%,   transparent 4%) 30px 43px, /*background color*/
  linear-gradient( 72deg, pink 8.5%, transparent 8.5%) 30px 43px,  /*star color*/
  linear-gradient(288deg, pink 8.5%, transparent 8.5%) -70px 43px, /*star color*/
  linear-gradient(216deg, pink 7.5%, transparent 7.5%) -70px 23px, /*star color*/
  linear-gradient(144deg, pink 7.5%, transparent 7.5%) 30px 23px, /*star color*/

  linear-gradient(324deg, #232927 4%,   transparent 4%) -20px 93px, /*background color*/
  linear-gradient( 36deg, #232927 4%,   transparent 4%) 80px 93px, /*background color*/
  linear-gradient( 72deg, pink 8.5%, transparent 8.5%) 80px 93px, /*star color*/
  linear-gradient(288deg, pink 8.5%, transparent 8.5%) -20px 93px, /*star color*/
  linear-gradient(216deg, pink 7.5%, transparent 7.5%) -20px 73px, /*star color*/
  linear-gradient(144deg, pink 7.5%, transparent 7.5%) 80px 73px; /*star color*/
  background-color: #232927; /*background color*/
  background-size: 100px 100px;
}

.embiggen {
  color: white;
  position:relative;
  top: -80px;
  font-size: 4em;
  text-shadow: 0 0 40px #ffbab3;
}

.bg-darkGray {
  background-color: #C0C0C0 !important;
}

.bg-dustyPink {
  background-color: #f7e6e3 !important;
}

.border-dustyPink {
  border-width: 5px;
  border-color: #f7e6e3 !important;
}

.img-thumbnail-dustyPink {
  padding: 0.25rem;
  background-color: #fff;
  border: 5px solid #f7e6e3;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

.border-top-5-dustyPink {
  border-top: 5px solid #f7e6e3 !important;
}

.border-bottom-5-grey {
  border-bottom: 5px solid #e5e5e5 !important;
}

.text-align-right {
	text-align: right;
}

.width150 {
  width: 150px;
}

.topic1 {
  font-size: 20px;
  font-weight: bold;
  color: #fd6766;
}